header {
    text-align: center;
    font-size: 32px;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    outline: 2px black solid;
    width: 600px;
    height: 600px;
}

.grids {
    outline: 0.5px black solid;
}

.grids:hover {
    background-color: black;
}

.slidercontainer {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    margin-right: 250px;
    padding: 20px;
    height: 600px;
    width: 250px;
    background-color: lightblue;
}

.text, .input {
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 25px;
}

.input {
    margin-top: 15px;
}

.modes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.normal-mode,
.rainbow-mode,
.eraser,
.clear {
    margin-top: 15px;
    width: 100px;
    height: 35px;
}