header {
    text-align: center;
    font-size: 32px;
}

.main-body {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.grid-container {
    display: grid;
    border: 1px black solid;
    width: 600px;
    height: 600px;
}

.grids {
    border: thin black solid;
}

/* .grids:hover {
    background-color: black;
} */

.slidercontainer {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    margin-right: 250px;
    padding: 20px;
    height: 600px;
    width: 250px;
    background-color: lightblue;
}

.grid-size, .input {
    display: flex;
    justify-content: center;
}

.grid-size {
    margin-top: 25px;
}

.input {
    margin-top: 15px;
}

.modes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.normal-mode,
.rainbow-mode,
.eraser,
.clear {
    margin-top: 15px;
    width: 100px;
    height: 35px;
}