/* Dancing Font for Header */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Oswald Font for container*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-color: #e1dad2;
}

header {
    text-align: center;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
}

.main-body {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    border: 5px solid #222c3c;
    width: 600px;
    height: 600px;
}

.grids {
    border: thin solid #696969;
}

.slidercontainer {
    margin-right: 250px;
    height: 400px;
    width: 250px;
    background-color: lightblue;
    margin-bottom: 200px;
}

.slidercontainer,
button {
    font-family: 'Oswald', sans-serif;
}

.grid-size, .input {
    display: flex;
    justify-content: center;
}

.grid-size {
    margin-top: 20px;
}

.input {
    margin-top: 15px;
}

.modes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.normal-mode,
.rainbow-mode,
.eraser,
.clear {
    margin-top: 20px;
    width: 100px;
    height: 35px;
}